{% extends 'base.html' %}
{% block title %}我的网站|登录{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                {% if not user.is_authenticated %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">登录</h3>
                        </div>
                            <div class="panel-body">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    {{ login_form }}
                                     <p class="text-danger">{{ login_from.errors.as_text }}</p>
                                    <input type="submit" value="登录"  class="btn btn-primary pull-right">
                                </form>
                            </div>
                    </div>
                {% else %}
                    <script type="text/javascript">
                         window.location.href = '/';
                    </script>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}